name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: npm ci
      run: npm ci
    - name: npm test
      run: npm test
    - name: coverage
      run: npm run coverage
